<link href="/privacy.css" rel="stylesheet" type="text/css"/>
<div class="content-lg container">
  <div class="row">
    <div class="sm-margin-b-30 ">
      <h2 class="privacy-header">AGRADECIMIENTOS</h2>
    </div>
    <div class="privacy-text">
      <p>www.pormexico.mx ha sido desarrollada por Note Code Company en colaboración con voluntarios que con el único fin de ayudar a los afectados por las catástrofes acontecidas en nuestro país.</p>
      <p>Agradecemos a todas y cada una de las personas que han entregado a trabajar día y noche a salvar vidas de nuestros hermanos Mexicanos. Hoy y siempre  hemos demostrado lo grande que es México y la nobleza de su gente que han hecho posible este sitio  ¡Por México!</p>

      <h4>Agradecimientos Especiales a Colaboradores de Note Code y voluntarios:</h4>
      <ul>
        <li>Arturo BurelaTeurela - <a href="https://www.facebook.com/arturo.burela" target="_blank">https://www.facebook.com/arturo.burela</a></li>
        <li>Edgar González Caballero</li>
        <li>Elvia Judith González</li>
        <li>Fernando Hernández Baume - <a href="https://www.facebook.com/fercholangas/?ref=br_rs">https://www.facebook.com/fercholangas/?ref=br_rs</a></li>
        <li>Hugo Suárez - <a href="https://hugougoh.wordpress.com/">https://hugougoh.wordpress.com/</a></li>
        <li>Ivan Aram González Su</li>
        <li>Josué Carlos García Puig</li>
        <li>Marcos Lopez - <a href="https://www.twitter.com/MarcosLopez7" target="_blank">@MarcosLopez7</a></li>
        <li>Pablo Zebadúa</li>
        <li>Tomas Paz Gonzalez  - <a href="https://www.linkedin.com/in/tomas-paz-574a5a49/">https://www.linkedin.com/in/tomas-paz-574a5a49/</a></li>
        <li>Uriel Calvo Sanchez - <a href="mailto:ucalvosanchez@gmail.com" target="_blank">ucalvosanchez@gmail.com</a></li>
      </ul>
      <h2>#PorMéxico #FuerzaMéxico</h2>
    </div>
  </div>
</div>
